<h1><%= @article.title %></h1>
<p><%= @article.text %></p>

 <%= render @article.comments %>
<hr>
<%= render 'comments/form' %>

<%= link_to "記事一覧に戻る", articles_path %>
<%= link_to "更新", edit_article_path(@article) %>